// Import Custom SB Admin 2 Variables (Overrides Default Bootstrap Variables)
@import "variables.scss";

// Import Bootstrap
@import "../vendor/bootstrap/scss/bootstrap.scss";

// Import Custom SB Admin 2 Mixins and Components
@import "mixins.scss";
@import "global.scss";
@import "utilities.scss";

// Custom Components
@import "dropdowns.scss";
@import "navs.scss";
@import "buttons.scss";
@import "cards.scss";
@import "charts.scss";
@import "login.scss";
@import "error.scss";
@import "footer.scss";

.passwordDontMatch {
    box-shadow: -1px 1px 1px #e41a1a;
    border: 1px solid #f11313;
    &:focus{
        border-color: #f11313;
        box-shadow: -1px 1px 1px #e41a1a;
    }
}
.passwordMatch{
    box-shadow: -1px 1px 1px #118e11;
    border: 1px solid #2c9a25;
    &:focus{
        border-color: #2c9a25;
        box-shadow: -1px 1px 1px #118e11;
    }

}